<div class="row">
  <div class="col-12 ">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of todoItems">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-10">{{ item.name }}</div>
            <div class="col-2">
              <i [hidden]="!item.done" class="material-icons"> done </i>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-8">
            <p>{{ item.description }}</p>
          </div>
          <div class="col-4">
            <mat-checkbox (change)="updateChecked(item)" [checked]="item.done" i18n="'Done', used for indicator">
              Done!
            </mat-checkbox>
          </div>
          <div class="row">
            <div class="col-6">
              <button mat-raised-button (click)="removeItem(item)" i18n="'Delete', used for button label">
                Delete
              </button>
            </div>
            <div class="col-6">
              <button mat-raised-button (click)="editItem(item)" i18n="'Edit', used for button label">Edit</button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight">
    <button mat-fab color="accent" (click)="openSaveTodo()" i18n="'Add', used for button label">Add</button>
  </div>
</div>
